/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
p{
	font-family:"Times New Roman"
}
.header-inner{
	box-shadow: 0px 5px 20px #4d4d4d, 0px -5px 20px #4d4d4d;
	margin-top:20px;
	background:white;
}

a.button{
	display: table;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	min-width:40px;
}

.footer{
	background-color: #f2f2f2;
	box-shadow: 0px -5px 10px -2px #a8a8a8;
}
/* #Page Styles
================================================== */

header{
	box-shadow: 0px 7px 20px #4d4d4d inset;
}
.headline h1{
  font-size: 85px;
  font-family: "Times New Roman";
  text-align: center;
  text-shadow: -2.571px -3.064px 0px rgb( 162, 38, 3 );
  color:white;
  margin:30px 0;
  line-height:100%;
}  
.spiff-container h4{
	text-align:center;
	color:#888888;
  	font-size: 20px;
  	margin-bottom:0px;
}
.news-image{
	display:block;
	margin:0 auto;
}
.main-article .button{
	display:inline;
}
.main-article h3, .side-articles h3{
	line-height:1;
	margin-bottom:0px;
  	font-size: 32px;
  	font-family: "Times New Roman";
  	line-height: 1.125;
}
.main-article h4{
	margin-bottom:25px;
	font-style:italic;
	font-size: 22px;
	font-family: "Times New Roman";
	line-height: 1.636;
}


.main-article p{
  font-size: 16px;
  color: rgb( 136, 136, 136 );
  line-height: 1.25;
}
.spiff-span{
	background-color: #f2f2f2;
	width:100%;
}
.news-container{
	box-shadow: 0px -5px 10px -2px #a8a8a8;
	width:100%;
}
.article-holder{
	padding-top:40px;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	.headline h1{
		font-size:3em;
	}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/